@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");

.cardbody-container {
  font-family: "Lunasima", sans-serif;
  transition: transform 0.3s ease;
}
.anchor {
  text-decoration: none;
  color: white;
}
/* .grid.container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.cardbody-container:hover {
  transform: scale(1.05);
}
.icon {
  stroke: aliceblue;
  stroke-width: 1.5px;
}
